{{define "title"}}New Details{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	
	<form method="post" action="{{$.CurrentURI}}">
		<div class="form-group">
			<h2>Personal Information</h2>
			<label for="futureuse4">Employee Number</label>
			<div><textarea rows="1" class="form-control" id="futureuse4" name="futureuse4" placeholder="Type your Employee Number here.." />{{TEXTAREA "futureuse4" .item.FutureUse4 .}}</textarea></div>
			<label for="firstname">First Name</label>
			<div><textarea rows="1" class="form-control" id="firstname" name="firstname" placeholder="Type your first name here..." />{{TEXTAREA "firstname" .item.FirstName .}}</textarea></div>
			<label for="middlename">Middle Name</label>
			<div><textarea rows="1" class="form-control" id="middlename" name="middlename" placeholder="Type your middle name here..." />{{TEXTAREA "middlename" .item.MiddleName .}}</textarea></div>
			<label for="lastname">Last Name</label>
			<div><textarea rows="1" class="form-control" id="lastname" name="lastname" placeholder="Type your last name here..." />{{TEXTAREA "lastname" .item.LastName .}}</textarea></div>
			<label for="manager">Manager Name</label>
			<div><textarea rows="1" class="form-control" id="manager" name="manager" placeholder="Type your manager name here..." />{{TEXTAREA "manager" .item.Manager .}}</textarea></div>
			<label for="personalemail">Personal E-mail</label>
			<div><textarea rows="1" class="form-control" id="personalemail" name="personalemail" placeholder="Type your Personal E-mail here..." />{{TEXTAREA "personalemail" .item.PersonalEmail .}}</textarea></div>
			<label for="businessemail">Business E-mail</label>
			<div><textarea rows="1" class="form-control" id="businessemail" name="businessemail" placeholder="Type your Business E-mail here..." />{{TEXTAREA "businessemail" .item.BusinessEmail .}}</textarea></div>
			<label for="homephone">Home Phone Number</label>
			<div><textarea rows="1" class="form-control" id="homephone" name="homephone" placeholder="Type your Home Phone number here..." />{{TEXTAREA "homephone" .item.HomePhone .}}</textarea></div>
			<label for="mobilephone">Mobile Phone Number</label>
			<div><textarea rows="1" class="form-control" id="mobilephone" name="mobilephone" placeholder="Type your Mobile Phone number here..." />{{TEXTAREA "mobilephone" .item.MobilePhone .}}</textarea></div>
			<label for="workphone">Work Phone Number</label>
			<div><textarea rows="1" class="form-control" id="workphone" name="workphone" placeholder="Type your Work Phone number here..." />{{TEXTAREA "workphone" .item.WorkPhone .}}</textarea></div>
			<h2>Address</h2>
			<label for="housenamenumber">House Name/Nos</label>
			<div><textarea rows="1" class="form-control" id="housenamenumber" name="housenamenumber" placeholder="Type your House Name / number here..." />{{TEXTAREA "housenamenumber" .item.HouseNameNumber .}}</textarea></div>
			<label for="addressline1">Address Line 1</label>
			<div><textarea rows="1" class="form-control" id="addressline1" name="addressline1" placeholder="Type your Address Line 1 here..." />{{TEXTAREA "addressline1" .item.AddressLine1 .}}</textarea></div>
			<label for="addressline2">Address Line 2 (if applicable)</label>
			<div><textarea rows="1" class="form-control" id="addressline2" name="addressline2" placeholder="Type your Address Line 2 here..." />{{TEXTAREA "addressline2" .item.AddressLine2 .}}</textarea></div>
			<label for="apartmentsuite">Apartment Suite (if applicable)</label>
			<div><textarea rows="1" class="form-control" id="apartmentsuite" name="apartmentsuite" placeholder="Type your Appartment Suite here..." />{{TEXTAREA "apartmentsuite" .item.AppartmentSuite .}}</textarea></div>
			<label for="town">Town</label>
			<div><textarea rows="1" class="form-control" id="town" name="town" placeholder="Type your Town here..." />{{TEXTAREA "town" .item.Town .}}</textarea></div>
			<label for="county">County</label>
			<div><textarea rows="1" class="form-control" id="county" name="county" placeholder="Type your county here..." />{{TEXTAREA "county" .item.County .}}</textarea></div>
			<label for="postcode">Post Code</label>
			<div><textarea rows="1" class="form-control" id="postcode" name="postcode" placeholder="Type your postcode here..." />{{TEXTAREA "postcode" .item.PostCode .}}</textarea></div>
			<label for="country">Country</label>
			<div><textarea rows="1" class="form-control" id="country" name="country" placeholder="Type your country here..." />{{TEXTAREA "country" .item.Country .}}</textarea></div>
			<h2>Next of Kin</h2>
			<label for="noktitle">Title</label>
			<div><textarea rows="1" class="form-control" id="noktitle" name="noktitle" placeholder="Type your Next of Kin title here..." />{{TEXTAREA "noktitle" .item.NokTitle .}}</textarea></div>
			<label for="nokfirstname">First Name</label>
			<div><textarea rows="1" class="form-control" id="nokfirstname" name="nokfirstname" placeholder="Type your next of kin first name here..." />{{TEXTAREA "nokfirstname" .item.NokFirstName .}}</textarea></div>
			<label for="noklastname">Last Name</label>
			<div><textarea rows="1" class="form-control" id="noklastname" name="noklastname" placeholder="Type your next of kin last name here..." />{{TEXTAREA "noklastname" .item.NokLastName .}}</textarea></div>
			<label for="nokrelationship">Relationship</label>
			<div><textarea rows="1" class="form-control" id="nokrelationship" name="nokrelationship" placeholder="Type your next of kin Relationship here..." />{{TEXTAREA "nokrelationship" .item.NokRelationship .}}</textarea></div>
			<label for="nokhomephone">Home Phone</label>
			<div><textarea rows="1" class="form-control" id="nokhomephone" name="nokhomephone" placeholder="Type your next of kin homephone here..." />{{TEXTAREA "nokhomephone" .item.NokHomePhone .}}</textarea></div>
			<label for="nokworkphone">Work Phone</label>
			<div><textarea rows="1" class="form-control" id="nokworkphone" name="nokworkphone" placeholder="Type your next of kin workphone here..." />{{TEXTAREA "nokworkphone" .item.NokWorkPhone .}}</textarea></div>
			<h2>Emergency Contact 1</h2>
			<label for="ec1title">Title</label>
			<div><textarea rows="1" class="form-control" id="ec1title" name="ec1title" placeholder="Type your Emergency Contact 1 title here..." />{{TEXTAREA "ec1title" .item.Ec1Title .}}</textarea></div>
			<label for="ec1firstname">Firstname</label>
			<div><textarea rows="1" class="form-control" id="ec1firstname" name="ec1firstname" placeholder="Type your Emergency Contact 1 firstname here..." />{{TEXTAREA "ec1firstname" .item.Ec1FirstName .}}</textarea></div>
			<label for="ec1lastname">Lastname</label>
			<div><textarea rows="1" class="form-control" id="ec1lastname" name="ec1lastname" placeholder="Type your Emergency Contact 1 lastname here..." />{{TEXTAREA "ec1lastname" .item.Ec1LastName .}}</textarea></div>
			<label for="ec1relationship">Relationship</label>
			<div><textarea rows="1" class="form-control" id="ec1relationship" name="ec1relationship" placeholder="Type your Emergency Contact 1 relationship here..." />{{TEXTAREA "ec1relationship" .item.Ec1Relationship .}}</textarea></div>
			<label for="ec1housenamenumber">House Name/Nos</label>
			<div><textarea rows="1" class="form-control" id="ec1housenamenumber" name="ec1housenamenumber" placeholder="Type your Emergency Contact 1 House Name / number here..." />{{TEXTAREA "ec1housenamenumber" .item.Ec1HouseNameNumber .}}</textarea></div>
			<label for="ec1addressline1">Address Line 1</label>
			<div><textarea rows="1" class="form-control" id="ec1addressline1" name="ec1addressline1" placeholder="Type your Emergency Contact 1 Address Line 1 here..." />{{TEXTAREA "ec1addressline1" .item.Ec1AddressLine1 .}}</textarea></div>
			<label for="ec1addressline2">Address Line 2 (if applicable)</label>
			<div><textarea rows="1" class="form-control" id="ec1addressline2" name="ec1addressline2" placeholder="Type your Emergency Contact 1 Address Line 2 here..." />{{TEXTAREA "ec1addressline2" .item.Ec1AddressLine2 .}}</textarea></div>
			<label for="ec1apartmentsuite">Apartment Suite (if applicable)</label>
			<div><textarea rows="1" class="form-control" id="ec1apartmentsuite" name="ec1apartmentsuite" placeholder="Type your Emergency Contact 1 Appartment Suite here..." />{{TEXTAREA "ec1apartmentsuite" .item.Ec1ApartmentSuite .}}</textarea></div>
			<label for="ec1town">Town</label>
			<div><textarea rows="1" class="form-control" id="ec1town" name="ec1town" placeholder="Type your Emergency Contact 1 Town here..." />{{TEXTAREA "ec1town" .item.Ec1Town .}}</textarea></div>
			<label for="ec1county">County</label>
			<div><textarea rows="1" class="form-control" id="ec1county" name="ec1county" placeholder="Type your Emergency Contact 1 county here..." />{{TEXTAREA "ec1county" .item.Ec1County .}}</textarea></div>
			<label for="ec1postcode">Post Code</label>
			<div><textarea rows="1" class="form-control" id="ec1postcode" name="ec1postcode" placeholder="Type your Emergency Contact 1 postcode here..." />{{TEXTAREA "ec1postcode" .item.Ec1PostCode .}}</textarea></div>
			<label for="ec1country">Country</label>
			<div><textarea rows="1" class="form-control" id="ec1country" name="ec1country" placeholder="Type your Emergency Contact 1 country here..." />{{TEXTAREA "ec1country" .item.Ec1Country .}}</textarea></div>
			<h2>Emergency Contact 2</h2>
			<label for="ec2title">Title</label>
			<div><textarea rows="1" class="form-control" id="ec2title" name="ec2title" placeholder="Type your Emergency Contact 2 title here..." />{{TEXTAREA "ec2title" .item.Ec2Title .}}</textarea></div>
			<label for="ec2firstname">Firstname</label>
			<div><textarea rows="1" class="form-control" id="ec2firstname" name="ec2firstname" placeholder="Type your Emergency Contact 2 firstname here..." />{{TEXTAREA "ec2firstname" .item.Ec2FirstName .}}</textarea></div>
			<label for="ec2lastname">Lastname</label>
			<div><textarea rows="1" class="form-control" id="ec2lastname" name="ec2lastname" placeholder="Type your Emergency Contact 2 lastname here..." />{{TEXTAREA "ec2lastname" .item.Ec2LastName .}}</textarea></div>
			<label for="ec2relationship">Relationship</label>
			<div><textarea rows="1" class="form-control" id="ec2relationship" name="ec2relationship" placeholder="Type your Emergency Contact 2 relationship here..." />{{TEXTAREA "ec2relationship" .item.Ec2Relationship .}}</textarea></div>
			<label for="ec2housenamenumber">House Name/Nos</label>
			<div><textarea rows="1" class="form-control" id="ec2housenamenumber" name="ec2housenamenumber" placeholder="Type your Emergency Contact 2 House Name / number here..." />{{TEXTAREA "ec2housenamenumber" .item.Ec2HouseNameNumber .}}</textarea></div>
			<label for="ec2addressline1">Address Line 1</label>
			<div><textarea rows="1" class="form-control" id="ec2addressline1" name="ec2addressline1" placeholder="Type your Emergency Contact 2 Address Line 1 here..." />{{TEXTAREA "ec2addressline1" .item.Ec2AddressLine1 .}}</textarea></div>
			<label for="ec2addressline2">Address Line 2 (if applicable)</label>
			<div><textarea rows="1" class="form-control" id="ec2addressline2" name="ec2addressline2" placeholder="Type your Emergency Contact 2 Address Line 2 here..." />{{TEXTAREA "ec2addressline2" .item.Ec2AddressLine2 .}}</textarea></div>
			<label for="ec2apartmentsuite">Apartment Suite (if applicable)</label>
			<div><textarea rows="1" class="form-control" id="ec2apartmentsuite" name="ec2apartmentsuite" placeholder="Type your Emergency Contact 2 Appartment Suite here..." />{{TEXTAREA "ec2apartmentsuite" .item.Ec2ApartmentSuite .}}</textarea></div>
			<label for="ec2town">Town</label>
			<div><textarea rows="1" class="form-control" id="ec2town" name="ec2town" placeholder="Type your Emergency Contact 2 Town here..." />{{TEXTAREA "ec2town" .item.Ec2Town .}}</textarea></div>
			<label for="ec2county">County</label>
			<div><textarea rows="1" class="form-control" id="ec2county" name="ec2county" placeholder="Type your Emergency Contact 2 county here..." />{{TEXTAREA "ec2county" .item.Ec2County .}}</textarea></div>
			<label for="ec2postcode">Post Code</label>
			<div><textarea rows="1" class="form-control" id="ec2postcode" name="ec2postcode" placeholder="Type your Emergency Contact 2 ostcode here..." />{{TEXTAREA "ec2postcode" .item.Ec2PostCode .}}</textarea></div>
			<label for="ec2country">Country</label>
			<div><textarea rows="1" class="form-control" id="ec2country" name="ec2country" placeholder="Type your Emergency Contact 2 country here..." />{{TEXTAREA "ec2country" .item.Ec2Country .}}</textarea></div>
			<h2>Emergency Contact 3</h2>
			<label for="ec3title">Title</label>
			<div><textarea rows="1" class="form-control" id="ec3title" name="ec3title" placeholder="Type your Emergency Contact 3 title here..." />{{TEXTAREA "ec3title" .item.Ec3Title .}}</textarea></div>
			<label for="ec3firstname">Firstname</label>
			<div><textarea rows="1" class="form-control" id="ec3firstname" name="ec3firstname" placeholder="Type your Emergency Contact 3 firstname here..." />{{TEXTAREA "ec3firstname" .item.Ec3FirstName .}}</textarea></div>
			<label for="ec3lastname">Lastname</label>
			<div><textarea rows="1" class="form-control" id="ec3lastname" name="ec3lastname" placeholder="Type your Emergency Contact 3 lastname here..." />{{TEXTAREA "ec3lastname" .item.Ec3LastName .}}</textarea></div>
			<label for="ec3relationship">Relationship</label>
			<div><textarea rows="1" class="form-control" id="ec3relationship" name="ec3relationship" placeholder="Type your Emergency Contact 3 relationship here..." />{{TEXTAREA "ec3relationship" .item.Ec3Relationship .}}</textarea></div>
			<label for="ec3housenamenumber">House Name/Nos</label>
			<div><textarea rows="1" class="form-control" id="ec3housenamenumber" name="ec3housenamenumber" placeholder="Type your Emergency Contact 3 House Name / number here..." />{{TEXTAREA "ec3housenamenumber" .item.Ec3HouseNameNumber .}}</textarea></div>
			<label for="ec3addressline1">Address Line 1</label>
			<div><textarea rows="1" class="form-control" id="ec3addressline1" name="ec3addressline1" placeholder="Type your Emergency Contact 3 Address Line 1 here..." />{{TEXTAREA "ec3addressline1" .item.Ec3AddressLine1 .}}</textarea></div>
			<label for="ec3addressline2">Address Line 2 (if applicable)</label>
			<div><textarea rows="1" class="form-control" id="ec3addressline2" name="ec3addressline2" placeholder="Type your Emergency Contact 3Address Line 2 here..." />{{TEXTAREA "ec3addressline2" .item.Ec3AddressLine2 .}}</textarea></div>
			<label for="ec3apartmentsuite">Apartment Suite (if applicable)</label>
			<div><textarea rows="1" class="form-control" id="ec3apartmentsuite" name="ec3apartmentsuite" placeholder="Type your Emergency Contact 3 Appartment Suite here..." />{{TEXTAREA "ec3apartmentsuite" .item.Ec3ApartmentSuite .}}</textarea></div>
			<label for="ec3town">Town</label>
			<div><textarea rows="1" class="form-control" id="ec3town" name="ec3town" placeholder="Type your Emergency Contact 3 Town here..." />{{TEXTAREA "ec3town" .item.Ec3Town .}}</textarea></div>
			<label for="ec3county">County</label>
			<div><textarea rows="1" class="form-control" id="ec3county" name="ec3county" placeholder="Type your Emergency Contact 3 county here..." />{{TEXTAREA "ec3county" .item.Ec3County .}}</textarea></div>
			<label for="ec3postcode">Post Code</label>
			<div><textarea rows="1" class="form-control" id="ec3postcode" name="ec3postcode" placeholder="Type your Emergency Contact 3 postcode here..." />{{TEXTAREA "ec3postcode" .item.Ec3PostCode .}}</textarea></div>
			<label for="ec3country">Country</label>
			<div><textarea rows="1" class="form-control" id="ec3country" name="ec3country" placeholder="Type your Emergency Contact 3 country here..." />{{TEXTAREA "ec3country" .item.Ec3Country .}}</textarea></div>
			<h2>
				Equal Opportunities Monitoring
			</h2>
			<p>In accordance with our policy on equal opportunities in employment, the employer will provide equal opportunities to any employee or job applicant and will not discriminate either directly or indirectly because of race, sex, sexual orientation, gender reassignment, religion or belief, marital or civil partnership status, age, disability, or pregnancy and maternity.
				All information will be treated in the strictest of confidence and is for monitoring and support purposes only.
				The provision of this information is optional.</p>
			<p>
				Do you have any ongoing/current physical or mental health (inc. learning difficulties) concerns? Yes/No
				Please provide details
			</p>
			<label for="futureuse1">Do you consider yourself as disabled? Yes/ No</label>
			<div><textarea rows="1" class="form-control" id="futureuse1" name="futureuse1" placeholder="Type whether you consider yourself as disabled here..." />{{TEXTAREA "futureuse1" .item.FutureUse1 .}}</textarea></div>
			<label for="futureuse2">If yes, are you registered disabled? Yes/No</label>
			<div><textarea rows="1" class="form-control" id="futureuse2" name="futureuse2" placeholder="Type if you are registered disabled here..." />{{TEXTAREA "futureuse2" .item.FutureUse2 .}}</textarea></div>
			<label for="futureuse3">Details</label>
			<div><textarea rows="1" class="form-control" id="futureuse3" name="futureuse3" placeholder="Type your details here..." />{{TEXTAREA "futureuse3" .item.FutureUse3 .}}</textarea></div>

		</div>
		
		<button type="submit" class="btn btn-success" title="Save" />
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
		</button>
		
		<a title="Back" class="btn btn-default" role="button" href="{{$.ParentURI}}">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
		</a>
		
		<input type="hidden" name="_token" value="{{$.token}}">
	</form>
	
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}