{{define "title"}}New Details{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	
	<form method="post" action="{{$.CurrentURI}}">
		<div class="form-group">
			<label for="firstname">First Name</label>
			<div><textarea rows="1" class="form-control" id="firstname" name="firstname" placeholder="Type your first name here..." />{{TEXTAREA "firstname" .item.FirstName .}}</textarea></div>
			<label for="middlename">Middle Name</label>
			<div><textarea rows="1" class="form-control" id="middlename" name="middlename" placeholder="Type your middle name here..." />{{TEXTAREA "middlename" .item.MiddleName .}}</textarea></div>
			<label for="lastname">Last Name</label>
			<div><textarea rows="1" class="form-control" id="lastname" name="lastname" placeholder="Type your last name here..." />{{TEXTAREA "lastname" .item.LastName .}}</textarea></div>
		</div>
		
		<button type="submit" class="btn btn-success" title="Save" />
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
		</button>
		
		<a title="Back" class="btn btn-default" role="button" href="{{$.ParentURI}}">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
		</a>
		
		<input type="hidden" name="_token" value="{{$.token}}">
	</form>
	
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}